@media screen and (min-width:568px) {

    .volume-bar .bar {
        display: block;
    }

    label input:checked+.volume-bar-absolute {
        display: none;
    }
}


@media screen and (min-width:768px) {


    .col {
        min-width: calc(100%/2);
        flex-shrink: 0;
    }


}

@media screen and (min-width:992px) {

    .col-lg-1-6 {
        min-width: calc(100%/6);
        flex-wrap: wrap;
    }
}