@media screen and (min-width:768px) {


    .col {
        min-width: calc(100%/2);
        flex-shrink: 0;
    }


}

@media screen and (min-width:992px) {

    .col-lg-1-6 {
        min-width: calc(100%/6);
    }
}