/* Animazione su navbar interna */

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li .animation-item {
    height: 3px;
    background-color: greenyellow;
    width: 100%;
    margin: auto;
    visibility: hidden;
}

.nav-bar ul li:hover .animation-item {
    visibility: visible;
    animation-name: hover-underline;
    animation-duration: .5s;
    animation-timing-function: linear;
}



@keyframes hover-underline {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}

/* VOLUME BAR DISAPPEAR */

.volume-bar .bar {
    display: none;
}

label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

input {
    display: none;
}

label input:checked+.volume-bar-absolute {
    display: block;
}

.volume-bar-absolute {
    position: relative;
    display: none;
    height: 25px;
    background: #3e3e50;
    width: 15vw;
    margin-left: 1rem;

}

.bar-container .bar {
    margin: 0;
}

.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.volume-bar-absolute .bar {
    display: block;
}