@media screen and (min-width:576px) {
    body {
        font-size: 14px;
    }

    .sidebar-container {
        width: 200px;
        overflow: auto;
    }

    .logo-container .logo-small {
        display: none;
    }

    .logo-container .logo-large {
        display: block;
    }


    .sidebar-container span {
        display: inline-block;
    }

    .sidebar-container i {
        display: inline-block;
    }

    .playlist-content {
        display: block;
    }

    a {
        justify-content: flex-start;
    }

    svg {
        display: flex;
        margin-right: .5rem;
    }

    .profile svg {
        margin: 0;
    }

    .profile {
        margin-right: .5rem;
    }

    .top-player i {
        font-size: 1rem;
    }

    .fa-regular.fa-circle-play {
        font-size: 1.5rem;
    }

    .left-player-container {
        flex-grow: 1;
        width: auto;
    }

    .middle-player-container {
        flex-grow: 2;
        width: auto;
    }

    .right-player-container {
        flex-direction: row;
        flex-grow: 1;
        width: auto;
    }

    .app-icon {
        display: flex;
    }
}

@media screen and (min-width:768px) {
    body {
        font-size: 16px;
    }

    .top-player i {
        font-size: 1.5rem;
        padding: .5rem;
    }

    .fa-regular.fa-circle-play {
        padding: 0rem 1rem;
        font-size: 2rem;
    }

    .col-md-1-4 {
        width: calc(100% / 4);
    }
}

@media screen and (min-width:992px) {

    .col-lg-1-6 {
        width: calc(100%/6);
    }
}