:root {
    --primary-color: #141922;
    --minor-color: #080b12;
    --main-color: #7b7e82;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--main-color);
}

/* SIDEBAR */

h5 {
    color: white;
}

a {
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    justify-content: center;
}

svg {
    width: 20px;
    height: 20px;
    fill: var(--main-color);

}

a:focus,
a:focus svg {
    color: white;
    fill: white;
}

.top-container {
    flex-grow: 1;
    display: flex;
}

.bottom-container {
    flex-shrink: 0;
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.sidebar-container {
    width: 60px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



.container {
    flex-grow: 1;
}


.logo-container {
    flex-shrink: 0;
    padding: 1rem;
}

.logo-container .logo-small {
    display: block;
    width: 70%;
    margin: auto;
}

.logo-container .logo-large {
    display: none;
    width: 50%;
}

.playlist-container {
    flex-grow: 1;
}

.home,
.search,
.library,
.user-container {
    flex-shrink: 0;
}

.user-container>* {
    margin: 0;
    display: flex;
}

.separator {
    height: 1px;
    width: 85%;
    background-color: var(--main-color);
    margin: .5rem auto;
}

.sidebar-container span {
    display: none;
}

.sidebar-container i {
    display: flex;
    justify-content: center;
}

.playlist-content>* {
    margin: .5rem 0rem;
}

.playlist-content {
    padding: 0rem 1rem;
    display: none;
}

.fa-solid.fa-square-plus {
    display: inline-block;
    font-size: 2rem;
    margin-right: .5rem;
}

.new-playlist {
    display: flex;
    align-items: center;
    padding: 0;

}

.list-name-playlist {
    list-style: none;
    overflow: auto;

}

li a {
    padding: .5rem 0rem;
}

.download {
    font-size: 0.7rem;
}

.profile {
    background-color: var(--main-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile svg {
    fill: white;
    width: 100%;

}

.user {
    display: flex;
    justify-content: center;
}

.user a span {
    color: white;
    font-weight: bold;
}

/* Sezione upgrade */

.upgrade-container {
    flex-shrink: 0;
    background-color: var(--minor-color);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.upgrade-container button {
    border: 2px solid white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    background-color: var(--minor-color);
    color: white;
    font-weight: bold;
}

/* Player */

.song-img-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.song-img-container img {
    height: 50%;
}

.title {
    font-weight: bold;
    color: white;
}

.left-player-container>* {
    margin-right: .5rem;
}

.song-action-container>* {
    padding: .3rem;
}

.left-player-container {
    display: flex;
    align-items: center;
}