:root {
    --primary-color: #141922;
    --minor-color: #080b12;
    --main-color: #7b7e82;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* SIDEBAR */

h5 {
    color: white;
}

a {
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    justify-content: center;
}

svg {
    width: 20px;
    height: 20px;
    fill: var(--main-color);

}

.home a:focus,
.search a:focus,
.library a:focus,
.user-container .download a:focus,
.user-container .user a:focus {
    border-left: 2px solid greenyellow;
}

a:hover,
a:hover svg {
    color: white;
    fill: white;

}

h2,
h3 {
    color: white;
    margin: 1rem 0rem;
}

.top-container {
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

.bottom-container {
    flex-shrink: 0;
    height: 70px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.sidebar-container {
    width: 60px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}



.container {
    flex-grow: 1;
    background-color: var(--primary-color);
}


.logo-container {
    flex-shrink: 0;
    padding: 1rem;
}

.logo-container .logo-small {
    display: block;
    width: 70%;
    margin: auto;
}

.logo-container .logo-large {
    display: none;
    width: 50%;
}

.playlist-container {
    flex-grow: 1;
    overflow: auto;
}

.home,
.search,
.library,
.user-container {
    flex-shrink: 0;
}

.user-container>* {
    margin: 0;
    display: flex;
}

.separator {
    height: 1px;
    width: 85%;
    background-color: var(--main-color);
    margin: .5rem auto;
}

.sidebar-container span {
    display: none;
}

.sidebar-container i {
    display: flex;
    justify-content: center;
}

.playlist-content>* {
    margin: .5rem 0rem;
}

.playlist-content {
    padding: 0rem 1rem;
    display: none;
}

.fa-solid.fa-square-plus {
    display: inline-block;
    font-size: 2rem;
    margin-right: .5rem;
}

.new-playlist {
    display: flex;
    align-items: center;
    padding: 0;

}

.list-name-playlist {
    list-style: none;
    overflow: auto;

}

li a {
    padding: .5rem 0rem;
}

.download {
    font-size: 0.7rem;
}

.profile {
    background-color: var(--main-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile svg {
    fill: white;
    width: 100%;

}

.user {
    display: flex;
    justify-content: center;
}

.user a span {
    color: white;
    font-weight: bold;
}

/* Sezione upgrade */

.upgrade-container {
    flex-shrink: 0;
    background-color: var(--minor-color);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.upgrade-container button {
    border: 2px solid white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    background-color: var(--minor-color);
    color: white;
    font-weight: bold;
}

/* Player */

.song-img-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.song-img-container img {
    height: 10vw;
    max-height: 70%;
}

.title {
    font-weight: bold;
    color: white;
}


.left-player-container>* {
    margin-left: .5rem;
}

.song-action-container>* {
    padding: .3rem;
}

.left-player-container {
    display: flex;
    align-items: center;
}

.left-player-container {
    width: calc(100% / 3);
    overflow: auto;
}

.middle-player-container {
    height: 100%;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
    overflow: auto;
}

.right-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 3);
    overflow: auto;
}

.top-player {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.top-player i {
    display: inline-block;
    font-size: 0.7rem;
    color: white;
    padding: .3rem;
}

.fa-regular.fa-circle-play {
    padding: 0rem .5rem;
    font-size: 1rem;
}

.bottom-player {
    height: 50%;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.track-visual {
    background-color: var(--main-color);
    height: 5px;
    width: 50%;
    margin: 0rem .5rem;
    border-radius: 25px;

}


.position {
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 25px;
    position: relative;
}


.right-player-container>* {
    margin-right: .5rem;
    color: white;
}

.app-icon {
    display: flex;
}

.app-icon i {
    margin-right: 0.5rem;
}

.volume-bar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--main-color);
    margin-left: .5rem;
    border-radius: 25px;
}

/* Main container */
.container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: var(--primary-color);
}

.container {
    flex-grow: 1;
    overflow: auto;
    padding: 1rem;
}


.nav-bar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar ul li a {
    flex-shrink: 0;
    display: inline-block;
    padding: 1rem .5rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.col {
    padding: .5rem;
}

.col-xs-1-2 {
    width: calc(100%/2);
}



.card>* {
    text-align: center;
    display: block;
}

.img-container {
    position: relative;
}

.img-container img {
    display: block;
    width: 100%;
}

.circled {
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay i.fa-regular.fa-circle-play {
    border: none;
    color: white;
    font-size: 5rem;

}

.img-container:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.song-action-container i:hover {
    color: white;
}

.song-title-container .name-song:hover {
    text-decoration: underline;
}

.top-player i:hover,
.app-icon i:hover {
    transform: scale(1.2);
}

.track-visual:hover .position {
    background-color: greenyellow;
}

.bar:hover .position {
    background-color: greenyellow;
}

.upgrade-container button:hover {
    transform: scale(1.1);
}

.dot {
    width: 10px;
    height: 10px;
    right: 0;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin: -3px;
    display: none;
}

.bar:hover .position .dot,
.track-visual:hover .position .dot {
    display: block;
}